@import url("../../index.css");
@import url("../../App.scss");
.section__hero {
  background-color: #fff;
  .wrapper {
    padding: 16px;
    padding-block: 64px;
    margin-bottom: 64px;
    .col-1 {
      .img-hero {
        border-radius: 1px;
      }
    }
    .col-2 {
      text-align: center;
      padding-top: 32px;
      .heading-1 {
        line-height: 1.4;
        padding-bottom: 16px;
      }
      .text {
        line-height: 1.8;
        padding-bottom: 16px;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .section__hero {
    margin-bottom: 160px;
    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-block: 64px;
      .col-2 {
        max-width: 620px;
        text-align: left;
        margin-right: 48px;
        .text {
          max-width: 600px;
        }
      }
    }
  }
}
