/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors: Primary */
  --Very-dark-blue: hsl(243, 87%, 12%);
  --Desaturated-blue: hsl(238, 22%, 44%);
  --Desaturated-blue-shadow: hsla(239, 22%, 44%, 0.5);

  /*COlors:  Accent */
  --Bright-blue: hsl(224, 93%, 58%);
  --Bright-blue-hover: hsl(221, 100%, 71%);
  --Moderate-cyan: hsl(170, 45%, 43%);
  --Moderate-cyan-hover: hsl(169, 62%, 66%);

  /*Colors Neutral */
  --Light-grayish-blue: hsl(240, 75%, 98%);
  --Light-gray: hsl(0, 0%, 75%);
  --Light-shadow: hsla(214, 100%, 14%, 0.2);

  /* Typography: body */
  --Font-p: 16px; /* (paragraph */

  /* Typography:  Headings, Call-to-actions, Header Navigation */
  --Font-Raleway: "Raleway", serif;
  --Font-Open-sans: "Open Sans", serif;
  --Font-400: 400;
  --Font-700: 700;
}

*,
*::before,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: var(--Very-dark-blue);
  font-family: var(--Font-Open-sans);
  font-size: 16px;
  min-height: 100vh;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-family: var(--Font-Raleway);
  font-size: clamp(24px, 3.5vw, 38px);
  /* bold */
}
h2 {
  font-family: var(--Font-Raleway);
  font-size: clamp(16px, 3.5vw, 38px);
}

h3 {
  font-family: var(--Font-Raleway);
  font-size: clamp(16px, 3.5vw, 32px);
}

p {
  font-size: clamp(14px, 3vw, 18px);
}
.navbar a.link {
  font-size: clamp(12px, 2.5vw, 16px);
  color: var(--Very-dark-blue);
}
.navbar a.link:hover,
.navbar a.link:focus {
  color: var(--Bright-blue);
  cursor: pointer;
}

a.link.green {
  font-size: 12px;
  color: var(--Moderate-cyan);
  /* /green  */
}

.testimonial-box .text {
  font-size: clamp(11px, 2.5vw, 14px);
  color: red;
}
.testimonial-box .avatar-name .name {
  font-size: clamp(10px, 2.5vw, 12px);
}
.testimonial-box .avatar-name .title {
  font-size: clamp(6px, 5vw, 10px);
}

.footer .link {
  font-size: 16px; /* same min and max */
}

/* /////////////////////////////////////  */
/* Images */
img {
  max-width: 100%;
  /* border: 1px solid black; */
}
img.logo {
  width: clamp(88px, 12vw, 168px);
}
.img-how {
  max-width: 540px;
  width: 100%;
}
